
.topnav {
    overflow: hidden;
    background-color: #f4f4f4;
    font-family: 'Jost';font-size: 17px;
}

.topnav a {
    float:left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px
}
h2{
  color: blue;
  font-family: 'Jost';font-size: 12px;
}
.topnav a:hover {
    background-color: #f4f4f4;
    color: rgb(6, 15, 152);
    font-weight: 900;
  }

  .topnav a.active {
    background-color: #f4f4f4;
    color: rgb(0, 0, 0);
  }

  .topnav a.split {
    float: right;
    background-color:#f4f4f4;
    color: rgb(0, 0, 0);
  }
  .topnav a.split:hover{
    background-color: #f4f4f4;
    color: rgb(6, 15, 152);
  }

  .p0{
    font-family:Georgia, 'Times New Roman', Times, serif;font-size: 45px;
    padding-top: 3%;
    padding-left: 3%;
    color:rgb(6, 15, 152);
  }

  .p{
    font-family:Georgia, 'Times New Roman', Times, serif;font-size: 45px;
    padding-left: 35%;
    color:rgb(6, 15, 152);
  }

  .p1 {
    padding-left: 0%;
    padding-right: 69.3%;
    text-align: right;
    padding-top: 3%;
    font-family: 'Jost';font-size: 16px;
    padding-bottom: 5%;
  }
  .p2{
    padding-top: 2%;
    font-family: 'Jost';font-size: 120px;
    color:rgb(6, 15, 152);
  }

  .p3{
    font-family:Georgia, 'Times New Roman', Times, serif;font-size: 15px;
    padding-top: 3%;
    text-align: left;
    padding-left: 0.5%;
  }

  .p4{
    text-align: right;
    font-family:Georgia, 'Times New Roman', Times, serif;font-size: 15px;
    padding-bottom: 5%;
    padding-right:0.5%
  }

  .annahead{
    display:flex;
    padding-top: 3%;
  }

  .p5{
    font-family:Jost;font-size: 15px;
    text-align: center;
    padding-left: 45%;
    padding-bottom: 5%;
    color:rgb(0, 0, 0);
  }

.p6{
  text-align: right;
    font-family:Georgia, 'Times New Roman', Times, serif;font-size: 20px;
    padding-bottom: 5%;
    padding-right: 1%;
}

hr {
  justify-content:right;
  width: 100%;
}

.p7{
  font-family: 'Jost';font-size: 20px;
  text-align: center;
  padding-top: 15%;
}
html {
  scroll-behavior: smooth;
}

 
.fade-in-image {
  opacity: 20%;
}

.fade-in-image:hover {
  opacity: 100%;
  transition: opacity 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.p8{
  padding-top: 2%;
  font-family:Georgia, 'Times New Roman', Times, serif;font-size: 17px;
  text-align: center;
}
/* media query */
@media only screen and (max-width: 768px){

  .annahead{
    flex-direction: column;
  }

}





